.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.-z-20 {
  z-index: -20;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.fixed {
  position: fixed;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.left-0 {
  left: 0;
}
.top-0 {
  top: 0;
}
.absolute {
  position: absolute;
}
